* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    max-width:  1440px;
}

.align-items-center {
    align-items: center !important;
}

.content h1 {
    font-size: 70px;
    line-height: 66px;
    font-weight: 700;
    left: -4px;
    position: relative;
}

.content p {
    margin: 30px 0px;
    margin-right: 20%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}

h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 46px;

}

.img-background {
    background-image: url("../imgs/background.png");
    background-size: 100%;
}

.icon i {
    font-size: 60px;
    max-width: 80px;
    max-height: 80px;
}

.icon {
    margin: 0 10ox 0 10px;
}

#services h1 {
    font-size: 46px;
    font-weight: 700;
    line-height: 50px;
}

.design-portfolio {
    position: relative;
}

.conteudo {
    position: absolute;
    top: 300px;
    left: 100px;
    padding: 20px 0px;
}

#portfolio h1 {
    font-size: 46px;
    font-weight: 700;
    line-height: 50px;
}

.navbar.sticky-top {
    z-index: 9999 !important;
    background-color: white;
}

.img-parallax {
    background-image: url(../imgs/img-parallax.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.carousel-item {
    transition: transform 3.8s ease-in-out !important;
}

#comments .card {
    height: 250px;
}

.item-carousel h6,
p {
    margin: 0;
}

.item-carousel p {
    height: 130px;
}


#aboutMe,
#services,
#portfolio,
#comments,
#contact {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.9s ease, transform 0.6s ease;
}

#aboutMe.show,
#services.show,
#portfolio.show,
#comments.show,
#contact.show {
    opacity: 1;
    transform: translateY(0);
}

.bg-crit {
    background-image: url(../imgs/criatividade.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: center;
}


.bg-code {
    background-image: url(../imgs/code.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: center;
}

.bg-mark {
    background-image: url(../imgs/ads.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: center;
}

.bg-design {
    background-image: url(../imgs/desing.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: center;
}

.navbar-collapse a:hover {
    color: #0d6efd;
}

#comments .commentHeight{
    min-height: 980px;
}


/* XS (menor que 576px), SM (576px a 767px), MD (768px a 991px), LG (992px a 1199px) e XL (1200px ou maior). 
1
A
*/
@media (max-width: 576px) {
     .maginPortTop {
        margin-top: 0px;
        margin-bottom: 45px;
    }

    .maginPortTopDesing{
        margin-top: 0px;
        margin-bottom: 70px;
    }

    .maginPortBottom {
        margin-top: 45px;
        margin-bottom: 0px;
    }

    .paddingCarrossel{
        padding: 1.5em;
    }
    
    .marginCard{
        margin: 10px;
    }
}

@media (min-width: 577px) and (max-width: 767px) {
     .maginPortTop {
        margin-top: 0px;
        margin-bottom: 45px;
    }

    .maginPortBottom {
        margin-top: 45px;
        margin-bottom: 0px;
    }

     .maginPortTopDesing{
        margin-top: 0px;
        margin-bottom: 70px;
    }

    .paddingCarrossel{
        padding: 1.5em;
    }

    .marginCard{
        margin: 10px;
    }
}

