
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.align-items-center {
    align-items: center !important;
}

.content h1 {
    font-size: 70px;
    line-height: 66px;
    font-weight: 700;
    left: -4px;
    position: relative;
}

.content p {
    margin: 30px 0px;
    margin-right: 20%;
}
 h1, h2, h3, h4, h5{
  font-family:  'Montserrat', sans-serif;
 }

 h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 46px;

}

.img-background {
    background-image: url("../imgs/background.png");
    background-size: 100%;
}

.icon i {
    font-size: 60px;
    max-width: 80px;
    max-height: 80px;
}

.icon {
    margin: 0 10ox 0 10px;
}

#services h1{
    font-size: 46px;
    font-weight: 700;
    line-height: 50px;
}

.design-portfolio {
    position: relative;
}

.conteudo {
    position: absolute;
    top: 300px;
    left: 100px;
    padding: 20px 0px;
}

#portfolio h1{
    font-size: 46px;
    font-weight: 700;
    line-height: 50px;
}

.navbar.sticky-top {
    z-index: 9999 !important;
    background-color: white;
}

.img-parallax{
    background-image: url(../imgs/img-parallax.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.carousel-item {
  transition: transform 3.8s ease-in-out !important;
}

#comments .card{
    height: 250px;
}

.item-carousel h6, p{
    margin: 0;
}

.item-carousel  p{
    height: 130px;
}


 #aboutMe, #services, #portfolio, #comments, #contact {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.9s ease, transform 0.6s ease;
}

#aboutMe.show, #services.show, #portfolio.show, #comments.show, #contact.show {
    opacity: 1;
    transform: translateY(0);
}

.bg-crit {
    background-image: url(../imgs/criatividade.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: center;
}


.bg-code {
    background-image: url(../imgs/code.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: center;
}

.bg-mark {
    background-image: url(../imgs/ads.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: center;
}

.bg-design {
    background-image: url(../imgs/desing.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: center;
}

.navbar-collapse a:hover{
    color: #0d6efd;
}